@font-face {
  font-family: 'comfortaa';
  src: url('https://fonts-online.ru/fonts/comfortaa') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'comfortaa';

  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 50px;

  background-color: #a6ce75;
  background-image: url(../img/background.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  box-sizing: border-box;
}

.greetings {
  display: none;

  width: 100%;
}

.greetings__text {
  font-size: 20px;
  text-shadow: #000000 0px 1px 1px;
  color: #1e8449;
}

.bg-image {
  grid-row: 1 / 3;
  width: 100%;

  background-image: url(../img/tree.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 140px;
}

.timer__text {
  color: red;
  font-size: 32px;

  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.timer__l,
.timer__m,
.timer__s {
  display: none;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;

  width: 462px;

  position: relative;
}

.form__image {
  position: absolute;
  right: 0;
  top: -116px;

  width: 200px;
}

.form__input_text {
  grid-column: 1 / -1;

  font-family: inherit;
  font-size: 18px;

  height: 100px;
  box-sizing: border-box;
  padding: 10px;

  border-radius: 10px;

  resize: none;
}

.form__input_user {
  align-self: end;

  font-family: inherit;
  font-size: 18px;

  width: 100%;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;

  border: 1px solid #000000;
  border-radius: 10px;
}

.form__button {
  width: 150px;
  height: 50px;

  transition: all 0.2s ease;
}

.form__button:hover {
  filter: brightness(1.1);
}

.form__button:active {
  filter: brightness(1);
}

.marquee {
  grid-column: 1 / -1;

  font-size: 30px;
  text-shadow: #000000 0px 1px 1px;
  color: #1e8449;
  text-transform: lowercase;

  margin: 0 30%;
}

.marquee__content {
  display: flex;
  align-items: center;

  width: 100%;
}

.marquee__img {
  width: 50px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .body {
    background-image: url(../img/background-vertical.jpeg);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    box-sizing: border-box;
    padding-top: 90px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
  }

  .timer {
    order: 0;

    align-items: center;

    margin-bottom: 0;
  }

  .timer__text {
    text-align: center;
  }

  .timer__xl,
  .timer__m,
  .timer__s {
    display: none;
  }

  .timer__l {
    display: block;
  }

  .bg-image {
    order: 1;

    height: 300px;
    width: 100%;
    margin-bottom: 20px;

    background-position-x: center;
  }

  .marquee {
    order: 2;

    font-size: 20px;

    width: 100%;
    margin-bottom: 120px;
  }

  .marquee__img {
    width: 45px;
    margin-right: 17px;
  }

  .form {
    order: 3;

    width: 100%;

    margin-bottom: 27px;
  }

  .form__input_text,
  .form__input_user {
    font-size: 14px;
  }

  .form__input_text {
    width: 100%;
  }

  .greetings {
    order: 4;

    display: block;

    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 70px;

    border: 1px solid #0f4325;
    border-radius: 10px;
  }

  .greetings__text {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .body {
    padding: 0 35px;
  }

  .timer__text {
    font-size: 28px;

    margin-bottom: 30px;
  }

  .timer__xl,
  .timer__l,
  .timer__s {
    display: none;
  }

  .timer__m {
    display: block;
  }

  .form__image {
    top: -87px;

    width: 150px;
  }

  .form__button {
    width: 145px;
  }

  .bg-image {
    margin-bottom: 10px;
  }

  .greetings__text {
    font-size: 16px;
  }

  .marquee {
    font-size: 20px;

    margin-bottom: 80px;
  }
}

@media (max-width: 475px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__button {
    align-self: center;
    height: 45px;
  }
}

@media (max-width: 425px) {
  .body {
    padding: 0 30px;
  }

  .bg-image {
    height: 250px;
  }

  .timer__xl,
  .timer__l,
  .timer__m {
    display: none;
  }

  .timer__s {
    display: block;
  }

  .timer__text {
    font-size: 24px;

    margin-bottom: 20px;
  }

  .form__input_text,
  .form__input_user {
    font-size: 12px;
  }

  .form__image {
    top: -78px;
    width: 135px;
  }

  .form__button {
    width: 120px;
    height: 40px;
  }

  .marquee {
    font-size: 16px;
  }

  .marquee__img {
    width: 40px;

    margin-right: 10px;
  }

  .greetings__text {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .bg-image {
    height: 225px;
  }
}
