<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>СКОРО НОВЫЙ ГОД</title>
  <link href="/static/css/styles.min.css" rel="stylesheet">

  <style>
    body {
          background: url(static/img/fon/NY_fon.jpeg);
          background-size: cover;
          background-repeat: no-repeat;
    }
  </style>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</head>

<body>

  <a href="/" class="xxx">
    <script src="//megatimer.ru/get/d1fd69e91adfacb56e4fac711559d37e.js"></script>
  </a>

  <a href="/" class="text">
    <h2> до нового года осталось </h2>
  </a>

  <a href="/" class="tree">
    <img src="/static/img/1.png" alt="" width="500" class="item__post-img">
  </a>

  <script src='/static/js/snowfall.js'></script>
  <script src="/static/js/snowfall.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
          $(document).snowfall({image :"static/img/snowfall/img/snow4.png", minSize: 10, maxSize:20});
      });
  </script>

          <audio src="/static/audio/Let_It_Snow.mp3" autoplay loop > </audio>

</body>

</html>
