<!DOCTYPE html>
<html lang="ru">

<head>
  <link rel="icon" href="data:;base64,=">
  <meta charset="UTF-8">
  <title>СКОРО НОВЫЙ ГОД</title>
  <link href="/static/css/styles.min.css" rel="stylesheet">

  <style>
    body {
          background: url(static/img/fon/NY_fon.jpeg);
          background-size: cover;
          background-repeat: no-repeat;
    }
  </style>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</head>

<body>

  <div>
    <a href="/" class="counter">
      <script src="//megatimer.ru/get/d1fd69e91adfacb56e4fac711559d37e.js"></script>
    </a>
  </div>

  <div>
    <a href="/" class="text">
     <h1> до нового года осталось </h1>
    </a>
  </div>

  <div>
    {% for i in texts %}

    <a href="/">
     <h3> {{ i.get('text') }} <br>
          ({{ i.get('user') }}) </h3>
    </a>
    {% endfor %}

  </div>


  <div>
    <form action="/new_congratulation" method="post">
        <input type="text" placeholder="От кого поздравления?"
               name="user_name" class="input_user">
        <input type="text" placeholder="Введите здесь новогоднее пожелание"
               name="congratulation" class="input_text">
        <input type="image" src="/static/img/button.png" class="button">
    </form>
  </div>

  <div>
    <a href="/" class="klaus">
      <img src="/static/img/klaus.png" alt="" width="200">
    </a>
  </div>


  <div>
    <a href="/" class="tree">
      <img src="/static/img/1.png" alt="" width="500" class="item__post-img">
    </a>
  </div>

  <div>
    <script src='/static/js/snowfall.js'></script>
    <script src="/static/js/snowfall.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).snowfall({image :"static/img/snowfall/img/snow4.png", minSize: 10, maxSize:20});
        });
    </script>
  </div>

  <div>
    <audio src="/static/audio/Let_It_Snow.mp3" autoplay loop > </audio>
  </div>

  <div class="marquee">
    <marquee scrollamount="15"
             loop: -1
             width="600"
             style="color: #1E8449; font-size: 30px;
                    line-height: 150%;
                    text-shadow: #000000 0px 1px 1px;"
             >{{ text }}
    </marquee>
  </div>


</body>

</html>
