<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СКОРО НОВЫЙ ГОД</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
  </head>

  <body class="body">
    <main class="wrapper">
      <div class="greetings">
        {% for i in texts %}
        <p class="greetings__text">
          {{i.get('pk')}}. {{ i.get('text') }} <br />
          ({{ i.get('user') }})
        </p>
        {% endfor %}
      </div>

      <div class="bg-image"></div>

      <div class="timer">
        <h1 class="timer__text">до нового года осталось</h1>
        <div class="timer__xl">
          <script src="//megatimer.ru/get/d1fd69e91adfacb56e4fac711559d37e.js"></script>
        </div>
        <div class="timer__l">
          <script src="//megatimer.ru/get/707aee14943294b9a9b71a75c303fe3c.js"></script>
        </div>
        <div class="timer__m">
          <script src="//megatimer.ru/get/e126efdbb153dda06425002799ec73a9.js"></script>
        </div>
        <div class="timer__s">
          <script src="//megatimer.ru/get/b5cbcd6f8ad3b43e3aaef2336d9f9d82.js"></script>
        </div>
      </div>

      <form class="form" action="/new_congratulation" method="post">
        <img
          class="form__image"
          src="/static/img/klaus.png"
          alt="Santa with Deer"
        />
        <textarea
          class="form__input_text"
          placeholder="Оставьте свое новогоднее поздравление под елкой!"
          name="congratulation"
        ></textarea>
        <input
          class="form__input_user"
          type="text"
          placeholder="От кого поздравления?"
          name="user_name"
        />
        <input class="form__button" type="image" src="/static/img/button.png" />
      </form>

      <marquee class="marquee" direction="left" scrollamount="15" loop="-1">
        <div class="marquee__content">
          <img
            class="marquee__img"
            src="/static/img/run.gif"
            alt="Running Santa"
          />
          <span>{{ text }}</span>
        </div>
      </marquee>
    </main>

<!--    <script>-->
<!--      const input = document.querySelector('.form__button');-->
<!--      input.addEventListener('click', () => {-->
<!--          const audio = new Audio();-->
<!--          audio.src="/static/audio/Let_It_Snow.mp3"-->
<!--          audio.autoplay = true; -->
<!--      })-->
<!--    </script>-->


    <audio src="/static/audio/Let_It_Snow.mp3" autoplay loop>
      <source src="/static/audio/Let_It_Snow.mp3" type="audio/mpeg3">
    </audio>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/static/js/snowfall.js"></script>
    <script>
      $(document).ready(function () {
        $(document).snowfall({
          image: 'static/img/snowfall/img/snow4.png',
          minSize: 10,
          maxSize: 20,
        });
      });
    </script>
  </body>
</html>
